button {
    display: block;
    margin: auto;
    font-size: 20px;
}

#start {
    font-size: 20px;
}

#end_button {
    font-size: px;
    position: absolute;
    bottom: 0;
    left: 45%;
}

.mainDiv {
    float: bottom;
    width: 100%;
}
#title {
  text-align: center;
}

body {
  background-color: dimgrey;
}

#score {
  text-align: center;
}

table {
  /*float: left;*/
  /*width: 100%;*/
  font-size: 20px;
  width: 100px;
  float: right;
  left: 30px;
  border: 3px dotted darkred;
}
/*
#aliveone, #aliveone2 {
   display: block;
   position: absolute;
   margin: 0;
   padding: 0;
} */

#aliveone, #deadone {
  position: absolute;
  z-index: 0;
}
#aliveone2, #deadone2 {
  position: absolute;
  z-index: 10;
}

button {
  display: block;
  margin: auto;
  font-size: 20px;
}

.mainDiv {
  float: bottom;
  width: 100%;
}

h1 {
    text-align: center;
}